body{
  background: url(/src/images/Jungle_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* ::-webkit-scrollbar {
  display: none;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hero section */
.logo{
  width: 400px;
}
.hero-iframe{
  width: 60%;
  height: 60vh;
}
.wood-section{
  background: url(/src/images/wood.png);
  background-size: cover;
  z-index: 2;
  height: 150px;
}
.word-content{
  position: absolute;
  top: 45px;
  left: 30px;
  color: white;
}
/* Dashboard */
.dashboard-container{
  background: white;
  height: 100vh;
}
/* User Panel */
.text-orange{
  color: #9c630c !important;
}
.userPanel-container{
  background-color: #9DC619;
  width: 100%;
  height: 100vh;
  color: #7A2901;
  font-weight: 900;
}
.border-orange{
  border: 3px solid #ffc800;
}
.btn-list-items{
  color: #7A2901;
  font-weight: bold;
  background: none;
  border: 2px solid #7A2901; 
}
.btn-list-items:hover{
  color: #572912;
  font-weight: bold;
  background: #7A2901; 
}